
.title-bar{
    background-color: rgb(1, 1, 1);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Fjalla One';
    color:white;
    font-size: 100px;
    background-image: url(images/header2.jpg);
    background-size:cover;
}
.search-bar {
position:relative;  
left:10%;
top:center;
width:120%;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px; 
border-top-left-radius: 5px;
border-bottom-left-radius: 5px; 

}
.button{
position: relative;
left:65%;
top:center;
height: 100%;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px; 
border-top-left-radius: 5px;
border-bottom-left-radius: 5px; 
}
.card{
    background:rgb(254, 212, 212);
    border: 1px solid lightslategray;
}

.dyTable
{
    text-align: center;
    border : 0.1rem;
}