
.title-bar{
    background-color: rgba(1, 1, 1, 0.44);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Fjalla One';
    color:white;
    font-size: 100px;
    background-image: url(images/header2.jpg);
    background-size:cover;
}
.search-bar {
    position:relative;  
left:10%;
top:center;
width:120%;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px; 
border-top-left-radius: 5px;
border-bottom-left-radius: 5px; 

}
.button{
position: relative;
left:65%;
top:center;
height: 100%;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px; 
border-top-left-radius: 5px;
border-bottom-left-radius: 5px; 
}
.card{
    background:rgb(254, 212, 212);
    border: 1px solid lightslategray;
}
a {
    color: #fff;
    text-decoration: none;
  }
  .menu-wrap{
    top:0;
    left: 0;
  }
  .menu-wrap .toggler {
    position: absolute;
    left:0;
    z-index: 2;
    opacity: 0;
  }
  .menu-wrap .hamburger {

  }
  .p-menu1{
     height: 100%;
  }


  
  

  
  .box1{
    width: 700px;
    height: 150px;
    padding: 20px;
    border: 5px solid gray;
    margin: 15;

  }
  .image-box {
    width: 350px;
    height: 350px;
    padding: 200px;
    margin: center;
    margin-right: 50px;
    border: 10px solid gray;
    
    background-size: cover;

  }
  .header1 {
    font-size: 45px;
    font-family:'Fjalla One';
    }
    .game-info {
      font-weight:bolder;
      font-size: 40px;
      font-family:"fjalla one" ;
     }
